body{
    font-family: "Retro Gaming", Arial, sans-serif !important;
    margin: 0;
    background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/68/08/57/62/700_FO68085762_f94708404a1a11a9c5fd08f3c8c55428.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/stickers-rose-animal-leopard-seamless-background.jpg");
}

#banniere{
    background-image: "";
    background-color: #FFD1DC;
    height: 125px;
    margin-top: 60px;
}

#main-title{
    margin-top: 8px;
    color: #FFFFE0;
    text-align: center;
}

button{
    font-family: "Retro Gaming", Arial, sans-serif !important;
}

.btn-blue{
    background-color: blue;
    width: 100px;
    height: 40px;
    border-color: white;
    border-style: double;
}

.button-80s-blue {
    background-color: blue;
    border-style: groove;
    border-color: white;
    color: white;
    width: 150px;
    height: 50px;
}

.button-80s-red {
    background-color: #eb3b5a;
    border-style: groove;
    border-color: white;
    color: white;
    width: 150px;
    height: 50px;
}

.button-80s-green {
    background-color: #98FF98;
    border-style: groove;
    border-color: white;
    color: white;
    width: 150px;
    height: 50px;
}

.button-80s-jaune {
    background-color: #fed330;
    border-style: groove;
    border-color: white;
    color: white;
    width: 150px;
    height: 50px;
}

ul, li{
    padding: 0;
    list-style: none;
}

li{
    display: inline;
    margin-left: 12.5%
}